.sans-serif {
    font-family: 'Noto Sans JP', sans-serif;
}
.serif {
    font-family: 'BIZ UDMincho', serif;
}


#text-display {
    font-size: 1.5in;
    text-align: center;
}


.kana-table-character  {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.selected-character {
    opacity: 1;
}

#kana-table {
    font-size: 0.3in;
}

.hide-text-selection::selection {
    background-color: transparent;
}

#unfocused-overlay {
    position: relative;
    z-index: 998;
    height: 0;
    width: 100%;
    text-align: center;
    vertical-align:middle;
    font-size: 0.25in;
}

#switch-panel {
    z-index: 999;
    position: absolute;
    float:left;
}

.hoverbutton {
    opacity: 0.5;
    transition: opacity 0.1s;
    cursor: pointer;
}
.hoverbutton:hover {
    opacity: 1;
}

.dark {
    color: white;
    background-color: rgb(36, 36, 48);
}
.light {
    color: black;
    background-color: white;
}


.blur-on-unfocused {
    transition: filter 0.1s;
}
.blurred {
    filter: blur(5px);
}

.hidden {
    display: none;
}

#text-input {
    font-size: 0.5in;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: inherit;
}

#text-input:focus {
    outline: none;
    border: none;
}